@model Nop.Plugin.Payments.Transfer.BankTransferPaymentSettings

<div>
    <h3>Thông tin chuyển khoản</h3>
    <p><b>Ngân hàng:</b> @Model.BankName</p>
    <p><b>Số tài khoản:</b> @Model.AccountNumber</p>
    <p><b>Chủ tài khoản:</b> @Model.AccountHolder</p>
    <p>@Model.Instructions</p>
</div>
